.btn {
  background-color: purple;
  color:white;
  padding: 5px;
  border: none;
  border-radius: 5px; }

.card .btn:hover {
  background-color: darkslateblue; 
}

.card .btn:disabled {
  background-color: lightslategrey;
}

.units {
  display: flex;
  align-items: center;
  justify-content: center;
}

.units button {
  margin: 20px;
}